{% extends 'base.html' %}
{% load static %}
{% block title %}Catalog{% endblock %}
{% block body %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Catalog Megano
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Catalog</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Filter
              </strong>
            </header>
            <div class="Section-columnContent">
              <form class="form" method="GET">
                <div class="form-group">
                  <div class="range Section-columnRange">
                    <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="7" data-max="50" data-from="7" data-to="27"/>
                    <div class="range-price">Price:&#32;
                      <div class="rangePrice">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-input form-input_full" id="title" name="title" type="text" placeholder="Название"/>
                </div>
                <div class="form-group">
                  <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox" value="is_archived" name="is_archived"/>
                    <span class="toggle-box"></span>
                    <span class="toggle-text">Только товары в наличии</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox" value="is_free" name="is_free"/>
                    <span class="toggle-box"></span>
                    <span class="toggle-text">С бесплатной доставкой</span>
                  </label>
                </div>
                <div class="form-group">
                  <div class="buttons">
<!--                    <a class="btn btn_square btn_dark btn_narrow" href="#">Filter</a>-->
                    <button class="btn btn_square btn_dark btn_narrow" type="submit">Filter</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Popular tags
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="buttons">
                {% for tag in tags %}
                  <a class="btn btn_default btn_sm" href="?tag={{tag.slug}}">{{tag.name}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Sort">
            <div class="Sort-title">Сортировать по:
            </div>
            <div class="Sort-variants">
              <a class="Sort-sortBy Sort-sortBy_dec" href="#">Популярности</a>
              <a class="Sort-sortBy" href="?sort_price=-">Цене</a>
              <a class="Sort-sortBy" href="#">Отзывам</a>
              <a class="Sort-sortBy Sort-sortBy_inc" href="?created=created">Новизне</a>
            </div>
          </div>
          <div class="Cards">
            {% for objects in page_obj %}
              <div class="Card">
              <a class="Card-picture" href="{% url 'product_detail' pk=objects.pk %}">
              <img src="{% static 'app_store/img/content/home/card.jpg' %}" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title">
                  <a href="{% url 'product_detail' pk=objects.pk %}">{{ objects.title }}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost">
                    <span class="Card-price">{{ objects.price }}</span>
                  </div>
                  <div class="Card-category">Games / xbox
                  </div>
                  <div class="Card-hover">
                    <a class="Card-btn" href="{% url 'product_detail' pk=objects.pk %}">
                      <img src="{% static 'app_store/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="Pagination">
            <div class="Pagination-ins">
              {% if page_obj.has_previous %}
                <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.previous_page_number }}">
                <img src="{% static 'app_store/img/icons/prevPagination.svg' %}" alt="prevPagination.svg"/>
                </a>
              {% endif %}
              {% for page in page_obj.paginator.page_range %}
                <a class="Pagination-element Pagination-element_current" href="?page={{ page }}">
                  <span class="Pagination-text">{{ page }}</span>
                </a>
              {% endfor %}
              {% if page_obj.has_next %}
                <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.next_page_number }}">
                  <img src="{% static 'app_store/img/icons/nextPagination.svg' %}" alt="nextPagination.svg"/>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
