{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Корзина
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'home' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% if object_list %}
    <div class="Section">
      <div class="wrap">
        <form class="form Cart" method="post">
          {% csrf_token %}
          {% for item in object_list %}
          <!-- Данные по товару в корзине -->
          <div class="Cart-product">
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_pict">
                <a class="Cart-pict" href="product.href">
                <img class="Cart-img" src="{{ item.product.imageproduct_set.first.image }}" alt="product"/></a>
              </div>
              <div class="Cart-block Cart-block_info">
                <a class="Cart-title" href="product.href">{{item.product.title}}</a>
                <div class="Cart-desc">{{item.product.description}}</div>
              </div>
              <div class="Cart-block Cart-block_price">
                <div class="Cart-price">{{item.product.price}}$
                </div>
              </div>
            </div>
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_seller"></div>
              <div class="Cart-block Cart-block_amount">
                <div class="Cart-amount">
                  <div class="Amount">
                    <button class="Amount-remove" type="button"></button>
                    <input class="Amount-input form-input" name="amount" type="text" value="{{item.quantity}}"/>
                    <button class="Amount-add" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="Cart-block Cart-block_delete">
                <button class="Cart-delete">
                  <img src="/static/frontend/assets/img/icons/card/delete.svg"
                       alt="delete.svg"/>
                </button>
              </div>
            </div>
          </div>
          <!-- Данные по товару в корзине -->
          {% endfor %}

          <div class="Cart-total">
            <div class="Cart-block Cart-block_total">
              <strong class="Cart-title">Итого:</strong>
              <span class="Cart-price">{{total_cost}}$</span>
            </div>
            <div class="Cart-block">
              <button type="submit" class="btn btn_success btn_lg" >Оформить заказ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block mixins %}
<script src="{% static 'frontend/assets/js/cart.js' %}"></script>
{% endblock %}